[submodule "c/koturn"]
	path = c/koturn
	url = https://github.com/koturn/Whitespace
[submodule "c/kspalaiologos-asm2ws"]
	path = c/kspalaiologos-asm2ws
	url = https://github.com/kspalaiologos/asm2ws
[submodule "c/threeifbywhiskey-satan"]
	path = c/threeifbywhiskey-satan
	url = https://github.com/threeifbywhiskey/satan
[submodule "clojure/jmesyou-erasure"]
	path = clojure/jmesyou-erasure
	url = https://github.com/jmesyou/erasure
[submodule "clojure/tsuyusato"]
	path = clojure/tsuyusato
	url = https://github.com/MakeNowJust/whitespace-clj
[submodule "coffeescript/ehrlichbryan"]
	path = coffeescript/ehrlichbryan
	url = https://github.com/adotout/whitespace-js
[submodule "cpp/abac-whint"]
	path = cpp/abac-whint
	url = https://github.com/abac00s/WHINT
[submodule "cpp/abcsharp"]
	path = cpp/abcsharp
	url = https://github.com/abcsharp/Whitespace
[submodule "cpp/andrewarchi-respace"]
	path = cpp/andrewarchi-respace
	url = https://github.com/andrewarchi/respace
[submodule "cpp/benajmin"]
	path = cpp/benajmin
	url = https://github.com/benajmin/whitespace-interpreter
[submodule "cpp/dpohanlon-wsint"]
	path = cpp/dpohanlon-wsint
	url = https://github.com/dpohanlon/wsInt
[submodule "cpp/frmsaul-cupertino"]
	path = cpp/frmsaul-cupertino
	url = https://github.com/frmsaul/Cupertino-WhiteSpace-Interperter
[submodule "cpp/keirua-white"]
	path = cpp/keirua-white
	url = https://github.com/Keirua/whitespace
[submodule "cpp/knmorgan"]
	path = cpp/knmorgan
	url = https://github.com/knmorgan/ws
[submodule "cpp/marcellippmann-whitepp"]
	path = cpp/marcellippmann-whitepp
	url = https://github.com/marcellippmann/Whitepp
[submodule "cpp/noia"]
	path = cpp/noia
	url = https://github.com/noia1/Whitespace-Interpreter
[submodule "cpp/pavelshub/wspace"]
	path = cpp/pavelshub/wspace
	url = https://github.com/pavel987/wspace
[submodule "cpp/ricardoluis"]
	path = cpp/ricardoluis
	url = https://github.com/RicardoLuis0/whitespace
[submodule "cpp/sonicyang-ws-frontend"]
	path = cpp/sonicyang-ws-frontend
	url = https://github.com/sonicyang/ws-frontend
[submodule "cpp/subv-whitespace-llvm"]
	path = cpp/subv-whitespace-llvm
	url = https://github.com/Subv/Whitespace-LLVM
[submodule "cpp/sudheesh"]
	path = cpp/sudheesh
	url = https://github.com/sudheesh4/Whitespace-Interpreter-C-
[submodule "cpp/timvandermeij"]
	path = cpp/timvandermeij
	url = https://github.com/timvandermeij/whitespace-interpreter
[submodule "cpp/tycho-whitespace-llvm"]
	path = cpp/tycho-whitespace-llvm
	url = https://github.com/worktycho/whitespace-llvm
[submodule "cpp/yuukiaria"]
	path = cpp/yuukiaria
	url = https://github.com/YuukiARIA/ws-interpreter
[submodule "csharp/denislabrecque"]
	path = csharp/denislabrecque
	url = https://github.com/DenisLabrecque/Whitespace-Interpreter
[submodule "csharp/reflash"]
	path = csharp/reflash
	url = https://github.com/reflash-blog/WhiteSpaceInterpreter
[submodule "elixir/quinnwilton"]
	path = elixir/quinnwilton
	url = https://github.com/QuinnWilton/elixir-whitespace
[submodule "erlang/derek-mrwhite"]
	path = erlang/derek-mrwhite
	url = https://github.com/derek121/mrwhite
[submodule "go/andrewarchi-nebula"]
	path = go/andrewarchi-nebula
	url = https://github.com/andrewarchi/nebula
[submodule "go/kinu"]
	path = go/kinu
	url = https://github.com/kinu/whitespace
[submodule "go/technohippy"]
	path = go/technohippy
	url = https://github.com/technohippy/go-whitespace
[submodule "go/tempxla-go-wspace"]
	path = go/tempxla-go-wspace
	url = https://github.com/tempxla/go-wspace
[submodule "go/yshr-wspacego"]
	path = go/yshr-wspacego
	url = https://github.com/135yshr/wspacego
[submodule "haskell/ft-spaceman"]
	path = haskell/ft-spaceman
	url = https://gitlab.com/ft/spaceman.git
[submodule "haskell/helvm-helma"]
	path = haskell/helvm-helma
	url = https://github.com/helvm/helma
[submodule "haskell/helvm-wsa"]
	path = haskell/helvm-wsa
	url = https://github.com/helvm/wsa
[submodule "haskell/jhmcstanton-marginal"]
	path = haskell/jhmcstanton-marginal
	url = https://github.com/jhmcstanton/marginal
[submodule "haskell/takatoh-hws"]
	path = haskell/takatoh-hws
	url = https://github.com/takatoh/hws
[submodule "idris/edwinb-ws-idr"]
	path = idris/edwinb-ws-idr
	url = https://github.com/edwinb/WS-idr
[submodule "java/abhijitsharma"]
	path = java/abhijitsharma
	url = https://github.com/abhijitsharma/whitespace
[submodule "java/azige"]
	path = java/azige
	url = https://github.com/azige/whitespace-interpreter
[submodule "java/brumbeere-whitespace4j"]
	path = java/brumbeere-whitespace4j
	url = https://github.com/Brumbeere/Whitespace4j
[submodule "java/eia"]
	path = java/eia
	url = https://github.com/EIA-University/WhiteSpaceInterpreter
[submodule "java/faurehu"]
	path = java/faurehu
	url = https://github.com/faurehu/whiteSpaceInterpreter
[submodule "java/kmizu"]
	path = java/kmizu
	url = https://github.com/kmizu/ws_interpreter
[submodule "java/wrotycz"]
	path = java/wrotycz
	url = https://github.com/wrotycz/whitespace-interpreter
[submodule "java/yuukiaria-wseditor"]
	path = java/yuukiaria-wseditor
	url = https://github.com/YuukiARIA/wseditor
[submodule "javascript/kanra1412"]
	path = javascript/kanra1412
	url = https://github.com/kanra1412/whitespace-interpreter
[submodule "javascript/kosei"]
	path = javascript/kosei
	url = https://github.com/kosei28/Whitespace
[submodule "javascript/pvdz-significant-whitespace"]
	path = javascript/pvdz-significant-whitespace
	url = https://github.com/pvdz/SignificantWhitespace
[submodule "javascript/rumpl"]
	path = javascript/rumpl
	url = https://github.com/rumpl/whitespace
[submodule "javascript/susisu"]
	path = javascript/susisu
	url = https://github.com/susisu/Whitespace-JS
[submodule "javascript/uraza"]
	path = javascript/uraza
	url = https://github.com/uraza/whitespace-interpreter
[submodule "javascript/vii5ard-whitelips"]
	path = javascript/vii5ard-whitelips
	url = https://github.com/vii5ard/whitespace
[submodule "kotlin/ze-space"]
	path = kotlin/ze-space
	url = https://github.com/ze/space
[submodule "php/johankj"]
	path = php/johankj
	url = https://github.com/johankj/whitespace-interpreter-php
[submodule "php/nobody1986"]
	path = php/nobody1986
	url = https://github.com/nobody1986/whitespace-php
[submodule "python/adapap"]
	path = python/adapap
	url = https://github.com/adapap/whitespace-interpreter
[submodule "python/apua-wvm"]
	path = python/apua-wvm
	url = https://github.com/apua/whitespace
[submodule "python/bornlex"]
	path = python/bornlex
	url = https://github.com/Bornlex/Whitespace-interpreter
[submodule "python/dalleng"]
	path = python/dalleng
	url = https://github.com/dalleng/Whitespace
[submodule "python/dwayne"]
	path = python/dwayne
	url = https://github.com/dwayne/whitespace-python
[submodule "python/hearnderek"]
	path = python/hearnderek
	url = https://github.com/hearnderek/WhiteSpaceInterpreter
[submodule "python/maximegoyette"]
	path = python/maximegoyette
	url = https://github.com/MaximeGoyette/whitespace_interpreter
[submodule "python/mcolom"]
	path = python/mcolom
	url = https://github.com/mcolom/whitespace
[submodule "python/rumaxwell"]
	path = python/rumaxwell
	url = https://github.com/RuMaxwell/whitespace-interpreter
[submodule "python/stephenchappell/activestate"]
	path = python/stephenchappell/activestate
	url = https://github.com/ActiveState/code
[submodule "python/yasn-whitepy"]
	path = python/yasn-whitepy
	url = https://github.com/yasn77/whitepy
[submodule "ruby/bossiernesto"]
	path = ruby/bossiernesto
	url = https://github.com/bossiernesto/whitespace
[submodule "ruby/pocke-akaza"]
	path = ruby/pocke-akaza
	url = https://github.com/pocke/akaza
[submodule "rust/censoredusername-whitespacers"]
	path = rust/censoredusername-whitespacers
	url = https://github.com/CensoredUsername/whitespace-rs
[submodule "rust/collidedscope-albus"]
	path = rust/collidedscope-albus
	url = https://github.com/collidedscope/albus
[submodule "rust/faultier-albino"]
	path = rust/faultier-albino
	url = https://github.com/faultier/albino
[submodule "rust/faultier-whitebase"]
	path = rust/faultier-whitebase
	url = https://github.com/faultier/whitebase
[submodule "rust/jayshua"]
	path = rust/jayshua
	url = https://github.com/Jayshua/rust-whitespace
[submodule "rust/kaisugi"]
	path = rust/kaisugi
	url = https://github.com/HelloRusk/WhitespaceInterpreter
[submodule "rust/luminighty"]
	path = rust/luminight
	url = https://github.com/Luminighty/rustws
[submodule "rust/nareshganduri"]
	path = rust/nareshganduri
	url = https://github.com/nareshganduri/WhitespaceVM
[submodule "scala/dashlambda-eso"]
	path = scala/dashlambda-eso
	url = https://github.com/Dash-Lambda/Eso
[submodule "scheme/athos-white-scheme"]
	path = scheme/athos-white-scheme
	url = https://github.com/athos/white-scheme
[submodule "scheme/niyarin"]
	path = scheme/niyarin
	url = https://github.com/niyarin/whitespace-scheme
