[submodule "c/bvisness"]
	path = c/bvisness
	url = https://github.com/bvisness/whitespace
[submodule "c/koturn"]
	path = c/koturn
	url = https://github.com/koturn/Whitespace
[submodule "c/kspalaiologos-asm2ws"]
	path = c/kspalaiologos-asm2ws
	url = https://github.com/kspalaiologos/asm2ws
[submodule "c/meth0dz"]
	path = c/meth0dz
	url = https://github.com/wspace-lang/meth0dz-c
[submodule "c/strangepan-i-c-whitespace"]
	path = c/strangepan-i-c-whitespace
	url = https://github.com/StrangePan/I_C_Whitespace
[submodule "c/threeifbywhiskey-satan"]
	path = c/threeifbywhiskey-satan
	url = https://github.com/threeifbywhiskey/satan
[submodule "clojure/jmesyou-erasure"]
	path = clojure/jmesyou-erasure
	url = https://github.com/jmesyou/erasure
[submodule "clojure/tsuyusato"]
	path = clojure/tsuyusato
	url = https://github.com/MakeNowJust/whitespace-clj
[submodule "coffeescript/ehrlichbryan"]
	path = coffeescript/ehrlichbryan
	url = https://github.com/adotout/whitespace-js
[submodule "collections/andrewarchi-ws-archive"]
	path = collections/andrewarchi-ws-archive
	url = https://github.com/wspace-lang/ws-archive
[submodule "collections/hostilefork-whitespacers"]
	path = collections/hostilefork-whitespacers
	url = https://github.com/hostilefork/whitespacers
[submodule "cpp/abac-whint"]
	path = cpp/abac-whint
	url = https://github.com/abac00s/WHINT
[submodule "cpp/abcsharp"]
	path = cpp/abcsharp
	url = https://github.com/abcsharp/Whitespace
[submodule "cpp/andrewarchi-respace"]
	path = cpp/andrewarchi-respace
	url = https://github.com/andrewarchi/respace
[submodule "cpp/benajmin"]
	path = cpp/benajmin
	url = https://github.com/benajmin/whitespace-interpreter
[submodule "cpp/buyoh-nospace"]
	path = cpp/buyoh-nospace
	url = https://github.com/buyoh/nospace
[submodule "cpp/dpohanlon-wsint"]
	path = cpp/dpohanlon-wsint
	url = https://github.com/dpohanlon/wsInt
[submodule "cpp/frmsaul-cupertino"]
	path = cpp/frmsaul-cupertino
	url = https://github.com/frmsaul/Cupertino-WhiteSpace-Interperter
[submodule "cpp/keirua-white"]
	path = cpp/keirua-white
	url = https://github.com/Keirua/whitespace
[submodule "cpp/knmorgan"]
	path = cpp/knmorgan
	url = https://github.com/knmorgan/ws
[submodule "cpp/marcellippmann-whitepp"]
	path = cpp/marcellippmann-whitepp
	url = https://github.com/marcellippmann/Whitepp
[submodule "cpp/noia"]
	path = cpp/noia
	url = https://github.com/noia1/Whitespace-Interpreter
[submodule "cpp/pavelshub"]
	path = cpp/pavelshub
	url = https://github.com/wspace-lang/pavelshub-cpp
[submodule "cpp/peasley"]
	path = cpp/peasley
	url = https://github.com/wspace-lang/peasley-cpp
[submodule "cpp/ricardoluis"]
	path = cpp/ricardoluis
	url = https://github.com/RicardoLuis0/whitespace
[submodule "cpp/sonicyang-ws-frontend"]
	path = cpp/sonicyang-ws-frontend
	url = https://github.com/sonicyang/ws-frontend
[submodule "cpp/subv-whitespace-llvm"]
	path = cpp/subv-whitespace-llvm
	url = https://github.com/Subv/Whitespace-LLVM
[submodule "cpp/sudheesh"]
	path = cpp/sudheesh
	url = https://github.com/sudheesh4/Whitespace-Interpreter-C-
[submodule "cpp/timvandermeij"]
	path = cpp/timvandermeij
	url = https://github.com/timvandermeij/whitespace-interpreter
[submodule "cpp/tycho-whitespace-llvm"]
	path = cpp/tycho-whitespace-llvm
	url = https://github.com/worktycho/whitespace-llvm
[submodule "cpp/yuukiaria"]
	path = cpp/yuukiaria
	url = https://github.com/YuukiARIA/ws-interpreter
[submodule "crystal/collidedscope-spiceweight"]
	path = crystal/collidedscope-spiceweight
	url = https://github.com/collidedscope/spiceweight
[submodule "csharp/denislabrecque"]
	path = csharp/denislabrecque
	url = https://github.com/DenisLabrecque/Whitespace-Interpreter
[submodule "csharp/littlebughunter-assembler"]
	path = csharp/littlebughunter-assembler
	url = https://github.com/littleBugHunter/WhitespaceAssembler
[submodule "csharp/north-projectone"]
	path = csharp/north-projectone
	url = https://github.com/North15/projectOne
[submodule "csharp/reflash"]
	path = csharp/reflash
	url = https://github.com/reflash-blog/WhiteSpaceInterpreter
[submodule "elixir/quinnwilton"]
	path = elixir/quinnwilton
	url = https://github.com/QuinnWilton/elixir-whitespace
[submodule "erlang/derek-mrwhite"]
	path = erlang/derek-mrwhite
	url = https://github.com/derek121/mrwhite
[submodule "go/andrewarchi-nebula"]
	path = go/andrewarchi-nebula
	url = https://github.com/andrewarchi/nebula
[submodule "go/kinu"]
	path = go/kinu
	url = https://github.com/kinu/whitespace
[submodule "go/technohippy"]
	path = go/technohippy
	url = https://github.com/technohippy/go-whitespace
[submodule "go/tempxla-go-wspace"]
	path = go/tempxla-go-wspace
	url = https://github.com/tempxla/go-wspace
[submodule "go/yshr-wspacego"]
	path = go/yshr-wspacego
	url = https://github.com/135yshr/wspacego
[submodule "haskell/brainbrush-tomato"]
	path = haskell/brainbrush-tomato
	url = https://github.com/brainbush/Tomato-Programming-Language
[submodule "haskell/ft-spaceman"]
	path = haskell/ft-spaceman
	url = https://gitlab.com/ft/spaceman.git
[submodule "haskell/helvm-helma"]
	path = haskell/helvm-helma
	url = https://github.com/helvm/helma
[submodule "haskell/helvm-helpa"]
	path = haskell/helvm-helpa
	url = https://github.com/helvm/helpa
[submodule "haskell/helvm-wsa"]
	path = haskell/helvm-wsa
	url = https://github.com/helvm/wsa
[submodule "haskell/jhmcstanton-marginal"]
	path = haskell/jhmcstanton-marginal
	url = https://github.com/jhmcstanton/marginal
[submodule "haskell/takatoh-hws"]
	path = haskell/takatoh-hws
	url = https://github.com/takatoh/hws
[submodule "idris/edwinb-ws-idr"]
	path = idris/edwinb-ws-idr
	url = https://github.com/edwinb/WS-idr
[submodule "java/abhijitsharma"]
	path = java/abhijitsharma
	url = https://github.com/abhijitsharma/whitespace
[submodule "java/azige"]
	path = java/azige
	url = https://github.com/azige/whitespace-interpreter
[submodule "java/brumbeere-whitespace4j"]
	path = java/brumbeere-whitespace4j
	url = https://github.com/Brumbeere/Whitespace4j
[submodule "java/eia"]
	path = java/eia
	url = https://github.com/EIA-University/WhiteSpaceInterpreter
[submodule "java/faurehu"]
	path = java/faurehu
	url = https://github.com/faurehu/whiteSpaceInterpreter
[submodule "java/kmizu"]
	path = java/kmizu
	url = https://github.com/kmizu/ws_interpreter
[submodule "java/vyo-kairos"]
	path = java/vyo-kairos
	url = https://github.com/vyo/kairos
[submodule "java/wrotycz"]
	path = java/wrotycz
	url = https://github.com/wrotycz/whitespace-interpreter
[submodule "java/wysang"]
	path = java/wysang
	url = https://github.com/wysang/Whitespace-Compiler
[submodule "java/yawkat"]
	path = java/yawkat
	url = https://github.com/yawkat/Whitespace
[submodule "java/yuukiaria-wseditor"]
	path = java/yuukiaria-wseditor
	url = https://github.com/YuukiARIA/wseditor
[submodule "javascript/damle-evanescojs"]
	path = javascript/damle-evanescojs
	url = https://github.com/AD9000/EvanescoJS
[submodule "javascript/kanra1412"]
	path = javascript/kanra1412
	url = https://github.com/kanra1412/whitespace-interpreter
[submodule "javascript/kmyk-translater"]
	path = javascript/kmyk-translater
	url = https://github.com/kmyk/whitespace-translater
[submodule "javascript/kosei"]
	path = javascript/kosei
	url = https://github.com/kosei28/Whitespace
[submodule "javascript/loklaan-whitespace-lang"]
	path = javascript/loklaan-whitespace-lang
	url = https://github.com/loklaan/whitespace-lang
[submodule "javascript/loklaan-zerowidth-lang"]
	path = javascript/loklaan-zerowidth-lang
	url = https://github.com/loklaan/zerowidth-lang
[submodule "javascript/macocha-whitespacer"]
	path = javascript/macocha-whitespacer
	url = https://github.com/macocha/whitespacer
[submodule "javascript/pvdz-significant-whitespace"]
	path = javascript/pvdz-significant-whitespace
	url = https://github.com/pvdz/SignificantWhitespace
[submodule "javascript/rumpl"]
	path = javascript/rumpl
	url = https://github.com/rumpl/whitespace
[submodule "javascript/susisu"]
	path = javascript/susisu
	url = https://github.com/susisu/Whitespace-JS
[submodule "javascript/uraza"]
	path = javascript/uraza
	url = https://github.com/uraza/whitespace-interpreter
[submodule "javascript/vii5ard-whitelips-ide"]
	path = javascript/vii5ard-whitelips-ide
	url = https://github.com/vii5ard/whitespace
[submodule "jq/andrewarchi-wsjq"]
	path = jq/andrewarchi-wsjq
	url = https://github.com/andrewarchi/wsjq
[submodule "kotlin/ze-space"]
	path = kotlin/ze-space
	url = https://github.com/ze/space
[submodule "lolcode/akers"]
	path = lolcode/akers
	url = https://github.com/wspace-lang/akers-lolcode
[submodule "lua/vyo-callisto"]
	path = lua/vyo-callisto
	url = https://github.com/vyo/callisto
[submodule "perl/ephphatha-wsm2ws"]
	path = perl/ephphatha-wsm2ws
	url = https://github.com/ephphatha/wsm2ws
[submodule "php/igorw-wsm"]
	path = php/igorw-wsm
	url = https://github.com/igorw/wsm
[submodule "php/johankj"]
	path = php/johankj
	url = https://github.com/johankj/whitespace-interpreter-php
[submodule "php/nobody1986"]
	path = php/nobody1986
	url = https://github.com/nobody1986/whitespace-php
[submodule "python/adapap"]
	path = python/adapap
	url = https://github.com/adapap/whitespace-interpreter
[submodule "python/ahl27"]
	path = python/ahl27
	url = https://github.com/ahl27/whitespace
[submodule "python/alecgraves-whitespac3"]
	path = python/alecgraves-whitespac3
	url = https://github.com/alecGraves/whitespac3
[submodule "python/apua-wvm"]
	path = python/apua-wvm
	url = https://github.com/apua/whitespace
[submodule "python/bornlex"]
	path = python/bornlex
	url = https://github.com/Bornlex/Whitespace-interpreter
[submodule "python/dalleng"]
	path = python/dalleng
	url = https://github.com/dalleng/Whitespace
[submodule "python/damle-evanesco"]
	path = python/damle-evanesco
	url = https://github.com/AD9000/Evanesco
[submodule "python/dos1-colorspace"]
	path = python/dos1-colorspace
	url = https://github.com/dos1/colorspace
[submodule "python/drafear-converter"]
	path = python/drafear-converter
	url = https://github.com/drafear/whitespace-language-converter
[submodule "python/dwayne"]
	path = python/dwayne
	url = https://github.com/dwayne/whitespace-python
[submodule "python/eizoassik-pyws"]
	path = python/eizoassik-pyws
	url = https://github.com/EizoAssik/pyws
[submodule "python/freyamade-hohoho"]
	path = python/freyamade-hohoho
	url = https://github.com/freyamade/hohoho
[submodule "python/hearnderek"]
	path = python/hearnderek
	url = https://github.com/hearnderek/WhiteSpaceInterpreter
[submodule "python/ilikepython256-whitespace-unc"]
	path = python/ilikepython256-whitespace-unc
	url = https://github.com/ILikePython256/Whitespace_UnC
[submodule "python/maximegoyette"]
	path = python/maximegoyette
	url = https://github.com/MaximeGoyette/whitespace_interpreter
[submodule "python/mcolom"]
	path = python/mcolom
	url = https://github.com/mcolom/whitespace
[submodule "python/mikecat"]
	path = python/mikecat
	url = https://github.com/mikecat/python-whitespace
[submodule "python/phlip-pywhitespace"]
	path = python/phlip-pywhitespace
	url = https://github.com/wspace-lang/phlip-pywhitespace
[submodule "python/qwhxm-baudelaire"]
	path = python/qwhxm-baudelaire
	url = https://github.com/qwhxm/baudelaire-whitespace
[submodule "python/rumaxwell"]
	path = python/rumaxwell
	url = https://github.com/RuMaxwell/whitespace-interpreter
[submodule "python/smithers-bluespace"]
	path = python/smithers-bluespace
	url = https://github.com/Smithers888/BlueSpace
[submodule "python/stephenchappell"]
	path = python/stephenchappell
	url = https://github.com/wspace-lang/stephenchappell-python
[submodule "python/yasn-whitepy"]
	path = python/yasn-whitepy
	url = https://github.com/yasn77/whitepy
[submodule "r/bmazoure"]
	path = r/bmazoure
	url = https://github.com/bmazoure/whitespace
[submodule "rebol/hostilefork"]
	path = rebol/hostilefork
	url = https://github.com/wspace-lang/hostilefork-rebol
[submodule "ren-c/hostilefork"]
	path = ren-c/hostilefork
	url = https://github.com/wspace-lang/hostilefork-ren-c
[submodule "ruby/alesiong"]
	path = ruby/alesiong
	url = https://github.com/alesiong/whitespace-ruby
[submodule "ruby/bossiernesto"]
	path = ruby/bossiernesto
	url = https://github.com/bossiernesto/whitespace
[submodule "ruby/collidedscope-spitewaste"]
	path = ruby/collidedscope-spitewaste
	url = https://github.com/collidedscope/spitewaste
[submodule "ruby/dwayne"]
	path = ruby/dwayne
	url = https://github.com/dwayne/whitespace-ruby
[submodule "ruby/pocke-akaza"]
	path = ruby/pocke-akaza
	url = https://github.com/pocke/akaza
[submodule "rust/censoredusername-whitespacers"]
	path = rust/censoredusername-whitespacers
	url = https://github.com/CensoredUsername/whitespace-rs
[submodule "rust/collidedscope-albus"]
	path = rust/collidedscope-albus
	url = https://github.com/collidedscope/albus
[submodule "rust/faultier-albino"]
	path = rust/faultier-albino
	url = https://github.com/faultier/albino
[submodule "rust/faultier-whitebase"]
	path = rust/faultier-whitebase
	url = https://github.com/faultier/whitebase
[submodule "rust/jayshua"]
	path = rust/jayshua
	url = https://github.com/Jayshua/rust-whitespace
[submodule "rust/kaisugi"]
	path = rust/kaisugi
	url = https://github.com/HelloRusk/WhitespaceInterpreter
[submodule "rust/luminight"]
	path = rust/luminight
	url = https://github.com/Luminighty/rustws
[submodule "rust/nareshganduri"]
	path = rust/nareshganduri
	url = https://github.com/nareshganduri/WhitespaceVM
[submodule "scala/dashlambda-eso"]
	path = scala/dashlambda-eso
	url = https://github.com/Dash-Lambda/Eso
[submodule "scala/ojha-whitespacing"]
	path = scala/ojha-whitespacing
	url = https://github.com/polyglotpiglet/Whitespacing
[submodule "scheme/athos-white-scheme"]
	path = scheme/athos-white-scheme
	url = https://github.com/athos/white-scheme
[submodule "scheme/niyarin"]
	path = scheme/niyarin
	url = https://github.com/niyarin/whitespace-scheme
[submodule "vim/rolf-ws-vim"]
	path = vim/rolf-ws-vim
	url = https://github.com/rolf007/ws.vim
[submodule "whitespace/keens-whitelie"]
	path = whitespace/keens-whitelie
	url = https://github.com/KeenS/whitelie
[submodule "whitespace/pdewacht-tetris"]
	path = whitespace/pdewacht-tetris
	url = https://github.com/wspace-lang/pdewacht-tetris
