# The Whitespace Corpus

The definitive collection of {{len .projects}} projects for the Whitespace programming
language, including interpreters, compilers, and programs.

## Projects

{{.projectsTable}}

## Collections

| Name                                     | Curator(s)       | Languages | Date | Source |
| ---------------------------------------- | ---------------- | --------- | ---- | ------ |
| [ws-compilers](collections/andrewarchi-ws-archive) | Andrew Archibald | Haskell, Whitespace, Perl, PHP, Ruby, Emacs Lisp | 2018-06-06 | [GitHub](https://github.com/wspace/ws-archive) |
| [Whitespacers](collections/hostilefork-whitespacers) | Hostile Fork | C, C++, Crystal, Erlang, Haskell, Idris, LOLCODE, Perl, Python, Rebol, Ren-C, Ruby, Whitespace | 2010-07-10 | [GitHub](https://github.com/hostilefork/whitespacers) |

## Programs

| Name                                     | Author           | Polyglot | Date       | Spec | Source |
| ---------------------------------------- | ---------------- | -------- | ---------- | ---- | ------ |
| Truth-machine                            |                  | -        |            |      | [Esolang](https://esolangs.org/wiki/Whitespace#Truth-machine), [Esolang](https://esolangs.org/wiki/Truth-machine#Whitespace) |
| <3                                       | Willicoder       | -        | 2020-04-20 12:43 | 0.2 | [Esolang](https://esolangs.org/wiki/User:Willicoder#Whitespace), [Esolang](https://esolangs.org/w/index.php?title=User:Willicoder&diff=71266&oldid=71262) |
| Deadfish interpreter                     | Robert de Bath   | -        | 2015-08-16 09:28 | 0.2 | [Esolang](https://esolangs.org/wiki/Deadfish#Whitespace), [Esolang](https://esolangs.org/w/index.php?title=Deadfish&oldid=43738), [GitHub](https://github.com/rdebath/whitespace/blob/master/gencode-deadfish-in-ws.c) |
| sudoku.ws                                | Huf Lungdung (Cybis) | -    | 2009-05-19 | 0.3 | [What the Daily WTF?](https://what.thedailywtf.com/topic/5980/stupid-coding-tricks-sudoku-solver-in-whitespace), [Mailing list (archive)](https://web.archive.org/web/20131109103417/http://compsoc.dur.ac.uk:80/archives/whitespace/2009-November/000072.html), [Pastebin](https://pastebin.com/f761fc4b5) |
| VirtualDust.txt                          | Raphaël Bois     | C, Brainfuck, Perl | 2008-05-14 20:13:29 +0000 | 0.2 | [Hello World Collection](http://helloworldcollection.de/hellopics/VirtualDust.txt), [helloworldsite.he.funpic.de (archive)](https://web.archive.org/web/20080520072335/http://helloworldsite.he.funpic.de:80/hellopics/VirtualDust.txt), [GitLab](https://gitlab.com/wolframroesler/helloworld/-/blob/master/hellopics/VirtualDust.txt) |
| 99 Bottles of Beer                       | Andrew Kemp      | -        | 2005-04-20 | 0.2 | [99-bottles-of-beer.net](https://99-bottles-of-beer.net/language-whitespace-154.html) |
| Hello World                              | Petri Heikkonen  | -        | 2003-07-29 18:29:36 +0000 | 0.2 | [Hello World Collection](http://helloworldcollection.de/#Whitespace), [roesler-ac.de (archive)](https://web.archive.org/web/20030811004421/http://www.roesler-ac.de:80/wolfram/hello.htm#Whitespace), [GitLab](https://gitlab.com/wolframroesler/helloworld/-/blob/master/files/Whitespace.txt) |
| loctest.ws                               | Edwin Brady      | -        | 2003       | 0.3 | [CompSoc (archive)][compsoc] |
| tutorial.html                            | Edwin Brady      | HTML     | 2003       | 0.2 | [CompSoc (archive)][compsoc] |
| calc.ws<br>count.ws<br>fact.ws<br>hanoi.ws<br>hworld.ws<br>name.ws<br>annotated example | Edwin Brady | - | 2003 | 0.2 | [CompSoc (archive)][compsoc] |

## Code Golf Challenges

| Name                                     | Author           | Polyglot | Date                      | Spec | Source |
| ---------------------------------------- | ---------------- | -------- | ------------------------- | ---- | ------ |
| "-rot" transform                         | Andrew Archibald | -        | 2021-09-16 20:09:03 +0200 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/233660/rot-transform/235444#235444) |
| Print 0 to 100 without 1-9 characters    | aschepler        | -        | 2021-02-26 19:50:13 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/219576/print-0-to-100-without-1-9-characters/219869#219869) |
| Am I divisible by double the sum of my digits? | Kevin Cruijssen | -   | 2021-01-19 08:07:24 +0000 | 0.3 | [Code Golf](https://codegolf.stackexchange.com/questions/129596/am-i-divisible-by-double-the-sum-of-my-digits/217735#217735) |
| Follow a linked list                     | Kevin Cruijssen  | -        | 2020-12-11 15:28:24 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/216196/follow-a-linked-list/216208#216208) |
| 55960.ws                                 | Kamila Szewczyk (Palaiologos) | Malbolge | 2019-08-30 10:16:06 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/55960/im-not-the-language-youre-looking-for/191063#191063), [GitHub](https://github.com/kspalaiologos/codegolf-submissions/blob/master/55960.ws) |
| Determine your language's version        | Andrew Archibald | -        | 2019-08-28 07:54:17 +0000 | 0.2, 0.3 | [Code Golf](https://codegolf.stackexchange.com/questions/139243/determine-your-languages-version/190980#190980) |
| The shortest code to invert bit-wise a binary string | Kevin Cruijssen | - | 2019-01-03 13:47:44 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/30361/the-shortest-code-to-invert-bit-wise-a-binary-string/178316#178316) |
| Implementing a stack                     | Kevin Cruijssen  | -        | 2018-07-27 12:25:19 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/169343/implementing-a-stack/169353#169353) |
| Print a 10 by 10 grid of asterisks       | Kevin Cruijssen  | -        | 2018-05-25 09:35:34 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/88653/print-a-10-by-10-grid-of-asterisks/165417#165417) |
| All Your Base Are Belong To Us (Restricted) | Kevin Cruijssen | -      | 2018-04-06 09:10:53 +0000 | 0.3 | [Code Golf](https://codegolf.stackexchange.com/questions/19171/all-your-base-are-belong-to-us-restricted/161445#161445) |
| 404 - Unique 404 page not found          | Jo King          | 54 languages | 2018-01-22 11:55:35 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/153717/404-unique-404-page-not-found/153724#153724), [Code Golf](https://codegolf.stackexchange.com/revisions/153724/16) |
| Shortest code to produce infinite output | Ephphatha        | -        | 2017-05-27 13:05:45 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/13152/shortest-code-to-produce-infinite-output/123091#123091) |
| Add a language to a polyglot             | Chance           | 30 languages | 2017-01-06 01:09:43 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/102370/add-a-language-to-a-polyglot/105826#105826) |
| Run Length Decoding                      | r.e.s.           | -        | 2013-12-06 20:12:20 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/12902/run-length-decoding/15665#15665) |
| Fibonacci function or sequence           | r.e.s.           | -        | 2013-12-02 13:39:06 +0000 | 0.3 | [Code Golf](https://codegolf.stackexchange.com/questions/85/fibonacci-function-or-sequence/15590#15590) |
| Shortest code to produce infinite output | Doorknob         | -        | 2013-11-09 02:22:45 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/13152/shortest-code-to-produce-infinite-output/13155#13155) |
| Remove vowels without using too many different characters | r.e.s. | Binary Whitespace | 2012-05-30 22:17:46 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/6025/remove-vowels-without-using-too-many-different-characters/6100#6100) |
| Remove vowels without using too many different characters | breadbox | - | 2012-05-28 23:57:17 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/6025/remove-vowels-without-using-too-many-different-characters/6045#6045) |
| Rosetta Stone Challenge: Find the rule for a series | r.e.s. | -       | 2012-04-10 14:57:04 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/5429/rosetta-stone-challenge-find-the-rule-for-a-series/5446#5446) |
| Write a program to print the sum of the ascii codes of the program | r.e.s. | - | 2012-03-28 01:40:33 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/2926/write-a-program-to-print-the-sum-of-the-ascii-codes-of-the-program/5319#5319) |
| christmas_tree.ws                        | r.e.s.           | -        | 2012-03-27 22:55:00 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/4114/print-a-christmas-tree/5316#5316), [res0001 (archive)](https://web.archive.org/web/20130510111931/https://sites.google.com/site/res0001/whitespace/programs) |
| hello.ws                                 | r.e.s.           | -        | 2012-03-27 19:42:17 +0000 | 0.2 | [Code Golf](https://codegolf.stackexchange.com/questions/307/obfuscated-hello-world/5310#5310), [res0001 (archive)](https://web.archive.org/web/20130510111931/https://sites.google.com/site/res0001/whitespace/programs) |

## Reference interpreter mirrors

| Name               | Maintainer       | Date       | Spec | Source |
| ------------------ | ---------------- | ---------- | ---- | ------ |
| WSpace             | Kamil Adam       | 2019-11-24 | 0.3  | [GitHub](https://github.com/helvm/WSpace) |
| whitespace-haskell | Andrew Archibald | 2019-08-07 | 0.2, 0.3 | [GitHub](https://github.com/wspace/whitespace-haskell) |
| WSpace             | Andrew Savinykh  | 2017-01-30 | 0.3  | [GitHub](https://github.com/TryItOnline/WSpace) |

[compsoc]: https://web.archive.org/web/20150717140342/http://compsoc.dur.ac.uk:80/whitespace/download.php

## Comparison to Whitespacers

[Whitespacers](https://github.com/hostilefork/whitespacers) was a
collection of and the the de facto home for 13 Whitespace interpreters
until it was superseded by The Whitespace Corpus and archived.

The interpreters that were directly included in Whitespacers have been
migrated to individual repos under the [wspace](https://github.com/wspace)
organization, where maintenance is ongoing. This keeps each
implementation's history separate and and makes ownership clearer.
Submodules for all of these interpreters have been added to the Corpus.

Interpreters and programs from Whitespacers, with their equivalents in
the Corpus:

- c              - [c/meth0dz](c/meth0dz.json)
- cpp            - [cpp/burghard-wsintercpp](cpp/burghard-wsintercpp.json)
- crystal        - [crystal/collidedscope-spiceweight](crystal/collidedscope-spiceweight.json)
- erlang         - [erlang/derek-mrwhite](erlang/derek-mrwhite.json)
- examples
  - calc.ws      - [Whitespace examples](https://web.archive.org/web/20150717115008/http://compsoc.dur.ac.uk:80/whitespace/examples.php)
  - count.ws     - [Whitespace tutorial](https://web.archive.org/web/20150618184706/http://compsoc.dur.ac.uk/whitespace/tutorial.php)
  - fact.ws      - Whitespace examples
  - fibonacci.ws - Whitespace examples
  - hanoi.ws     - Whitespace examples
  - hworld.ws    - Whitespace examples
  - name.ws      - Whitespace examples
  - sudoku.ws    - [python/cybis-hapyli/sudoku.ws](python/cybis-hapyli.json)
- haskell        - [haskell/edwinb-wspace-0.3](haskell/edwinb-wspace-0.3.json)
- idris          - [idris/edwinb-ws-idr](idris/edwinb-ws-idr.json)
- lolcode        - [lolcode/akers](lolcode/akers.json)
- perl           - [perl/mkoelbl](perl/mkoelbl.json)
- python         - [python/stephenchappell](python/stephenchappell.json)
- rebol          - [rebol/hostilefork](rebol/hostilefork.json)
- ren-c          - [rebol/hostilefork](rebol/hostilefork.json)
- ruby           - [ruby/wconrad](ruby/wconrad.json)
- whitespace     - [whitespace/burghard-wsinterws](whitespace/burghard-wsinterws.json)
- [whitespacers#5](https://github.com/hostilefork/whitespacers/issues/5) - [rust/censoredusername-whitespace-rs](rust/censoredusername-whitespace-rs.json)
- [whitespacers#9](https://github.com/hostilefork/whitespacers/pull/9) - [javascript/luilak-ws2js](javascript/luilak-ws2js.json)

## Usage

Projects with source hosted on GitHub or GitLab are included as
submodules. Projects from other locations are reconstructed as git
repositories.

To clone all submodules, run `make init_submodules`.

## Contributing

See [CONTRIBUTING.md](./CONTRIBUTING.md).

## Dependencies

- [Go](https://golang.org/)
- make
- [jq](https://stedolan.github.io/jq/) for JSON filtering
- [underscore-cli](https://github.com/ddopson/underscore-cli) for JSON
  formatting: `npm install -g underscore-cli`

## Sources

- Source control
  - GitHub - [#whitespace-language](https://github.com/topics/whitespace-language?o=desc&s=updated),
      [#whitespace](https://github.com/topics/whitespace?o=desc&s=updated),
      [whitespace interpreter](https://github.com/search?o=desc&q=whitespace+interpreter&s=updated&type=Repositories),
      [whitespace compiler](https://github.com/search?o=desc&q=whitespace+compiler&s=updated&type=Repositories)
  - GitLab - [whitespace](https://gitlab.com/explore?name=whitespace&sort=latest_activity_desc)
  - SourceForge - [whitespace](https://sourceforge.net/directory/?q=whitespace&sort=update)
  - sourcehut - [whitespace](https://sr.ht/projects?search=whitespace&sort=recently-updated)
- Stack Exchange
  - Stack Overflow - [#whitespace-language](https://stackoverflow.com/questions/tagged/whitespace-language),
      [#whitespace #esoteric-languages](https://stackoverflow.com/questions/tagged/whitespace+esoteric-languages)
- Package managers
  - crates.io - [whitespace interpreter](https://crates.io/search?q=whitespace%20interpreter&sort=new),
      [#whitespace](https://crates.io/keywords/whitespace)
  - Hackage - [whitespace](https://hackage.haskell.org/packages/search?terms=whitespace)
  - npm - [whitespace language](https://www.npmjs.com/search?q=whitespace%20language),
      [whitespace interpreter](https://www.npmjs.com/search?q=whitespace%20interpreter)
  - NuGet - [whitespace](https://www.nuget.org/packages?q=whitespace)
  - PyPI - ["whitespace interpreter"](https://pypi.org/search/?q=%22whitespace+interpreter%22&o=-created),
      ["whitespace language"](https://pypi.org/search/?q=%22whitespace+language%22&o=-created)
  - RubyGems - [whitespace](https://rubygems.org/search?query=whitespace)
- Internet Archive
  - [hapyli.webs.com](https://web.archive.org/web/20110212015726/http://hapyli.webs.com:80/)
  - [yagni.com](https://web.archive.org/web/20120417161917/http://yagni.com:80/whitespace/index.html)
  - [wsdebug.berlios.de](https://web.archive.org/web/20041031040027/http://wsdebug.berlios.de:80/)

### TODO

- Source control
  - GitHub - [whitespace unbleach](https://github.com/search?q=whitespace+unbleach&type=code)
  - [GitHub Gist](https://gist.github.com/)
  - Sourceforge - [Spaced IDE (SVN)](https://sourceforge.net/projects/spacedide/),
      [Whitespace IDE (CVS)](https://sourceforge.net/projects/whitespaceide/)
  - Bitbucket
- Internet Archive
  - CompSoc - [download][compsoc],
      [mailing list](https://web.archive.org/web/20141011193126/http://compsoc.dur.ac.uk/archives/whitespace/)
  - [mirror.ox.ac.uk](https://web.archive.org/web/20030414003351/http://mirror.ox.ac.uk:80/Mirrors/whitespace/)
  - [dur.ac.uk/d.j.walrond](https://web.archive.org/web/20030608044924/http://www.dur.ac.uk:80/d.j.walrond/whitespace/)
  - [burghard.info](https://web.archive.org/web/20110911114338/http://www.burghard.info/Code/Whitespace/)
- Wikis
  - MediaWiki
    - Rosetta Code - [Category:Whitespace](https://rosettacode.org/wiki/Category:Whitespace),
        [Category:Whitespace User](https://rosettacode.org/wiki/Category:Whitespace_User)
    - Wikipedia - [Whitespace (programming language) [en]](https://en.wikipedia.org/wiki/Whitespace_(programming_language)),
        [[ar]](https://ar.wikipedia.org/wiki/%D9%88%D8%A7%D9%8A%D8%AA_%D8%B3%D8%A8%D9%8A%D8%B3_(%D9%84%D8%BA%D8%A9_%D8%A8%D8%B1%D9%85%D8%AC%D8%A9)),
        [[ca]](https://ca.wikipedia.org/wiki/Whitespace),
        [[cs]](https://cs.wikipedia.org/wiki/Whitespace),
        [[de]](https://de.wikipedia.org/wiki/Whitespace_(Programmiersprache)),
        [[es]](https://es.wikipedia.org/wiki/Whitespace),
        [[eu]](https://eu.wikipedia.org/wiki/Whitespace),
        [[fr]](https://fr.wikipedia.org/wiki/Whitespace),
        [[ko]](https://ko.wikipedia.org/wiki/%ED%99%94%EC%9D%B4%ED%8A%B8%EC%8A%A4%ED%8E%98%EC%9D%B4%EC%8A%A4_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)),
        [[hy]](https://hy.wikipedia.org/wiki/Whitespace),
        [[it]](https://it.wikipedia.org/wiki/Whitespace),
        [[hu]](https://hu.wikipedia.org/wiki/Whitespace_(programoz%C3%A1si_nyelv)),
        [[nl]](https://nl.wikipedia.org/wiki/Whitespace_(programmeertaal)),
        [[ja]](https://ja.wikipedia.org/wiki/Whitespace),
        [[pl]](https://pl.wikipedia.org/wiki/Whitespace),
        [[pt]](https://pt.wikipedia.org/wiki/Whitespace),
        [[ro]](https://ro.wikipedia.org/wiki/Whitespace_(limbaj_de_programare)),
        [[ru]](https://ru.wikipedia.org/wiki/Whitespace),
        [[sr]](https://sr.wikipedia.org/wiki/%D0%92%D0%B0%D1%98%D1%82%D1%81%D0%BF%D0%B5%D1%98%D1%81),
        [[uk]](https://uk.wikipedia.org/wiki/Whitespace),
        [[zh]](https://zh.wikipedia.org/wiki/Whitespace)
    - Esolang - [Whitespace](https://esolangs.org/wiki/Whitespace),
        [WhatLinksHere/Whitespace](https://esolangs.org/wiki/Special:WhatLinksHere/Whitespace),
        [Deadfish](https://esolangs.org/wiki/Deadfish#Whitespace),
        [Wiki dumps](https://esolangs.org/wiki/Esolang:Wiki_dumps)
  - Progopedia - [Whitespace [en]](http://progopedia.com/language/whitespace/),
      [[ru]](http://progopedia.ru/language/whitespace/)
- Code challenges
  - Codewars - [Whitespace Interpreter](https://www.codewars.com/kata/whitespace-interpreter),
      [Convert integer to Whitespace format](https://www.codewars.com/kata/55b350026cc02ac1a7000032)
  - Sphere Online Judge - [SBSTR1](https://www.spoj.com/problems/SBSTR1/) ([SO](https://stackoverflow.com/questions/26521780/how-to-check-whether-a-string-is-substring-of-another-in-whitespace))
- Stack Exchange
  - Code Golf - [Tips for golfing in Whitespace](https://codegolf.stackexchange.com/questions/48442/tips-for-golfing-in-whitespace)

## License

This collection is licensed under the [MIT License](LICENSE.md) by
Andrew Archibald. Submodules are licensed by their respective owners.
