# Whitespace Corpus

A collection of interpreters, compilers, and programs for the Whitespace
programming language.

## Projects

{{.projects}}

## Collections

| Name                                     | Curator(s)       | Languages | Date | Source |
| ---------------------------------------- | ---------------- | --------- | ---- | ------ |
| [ws-compilers](collections/andrewarchi-ws-archive) | Andrew Archibald | Haskell, Whitespace, Perl, PHP, Ruby, Emacs Lisp | 2018-06-06 | [GitHub](https://github.com/wspace-lang/ws-archive) |
| [Whitespacers](collections/hostilefork-whitespacers) | Hostile Fork | C, C++, Crystal, Erlang, Haskell, Idris, LOLCODE, Perl, Python, Rebol, Ren-C, Ruby, Whitespace | 2010-07-10 | [GitHub](https://github.com/hostilefork/whitespacers) |

## Programs

| Name                                     | Author           | Polyglot | Date       | Spec | Source |
| ---------------------------------------- | ---------------- | -------- | ---------- | ---- | ------ |
| hello.ws                                 | Peter Koncelik   | -        | 2019-11-22 | 0.2 | [GitHub](https://github.com/petek222/whitespace) |
| 55960.ws                                 | Kamila Szewczyk (Palaiologos) | Malbolge | 2019-08-30 | 0.2 | [CodeGolf](https://codegolf.stackexchange.com/questions/55960/im-not-the-language-youre-looking-for/191063#191063), [GitHub](https://github.com/kspalaiologos/codegolf-submissions/blob/master/55960.ws) |
| baudelaire.ws                            | Marek Tomáštík   | -        | 2019-06-08 | 0.2 | [GitHub](https://github.com/qwhxm/baudelaire-whitespace/blob/master/backend/baudelaire.ws) |
| ascii.wsa<br>ascii4.wsa<br>caesar.wsa<br>fib.wsa<br>interpret.wsa<br>math.wsa<br>pi.wsa<br>postfix.wsa | Andrew Archibald | - | 2019-06-05 | 0.3 | [GitHub](https://github.com/andrewarchi/nebula/tree/master/programs) |
| 99_bottles.wsa<br>collatz.wsa<br>factorial.wsa<br>fizz_buzz.wsa<br>hello_world.ws<br>test_ret_underflow.wsa | Andrew Archibald | - | 2019-06-05 | 0.2 | [GitHub](https://github.com/andrewarchi/nebula/tree/master/programs) |
| KevinLovesWhitespace.ws                  | Riedl Kevin      | -        | 2018-12-01 | 0.2 | [GitHub](https://github.com/wsdt/WhiteSpace_Brainfuck/blob/master/KevinLovesWhitespace.ws) |
| hello_world.wsp<br>test.wsp              | Aidan Lakshman   | -        | 2018-11-07 | 0.2 | [GitHub](https://github.com/ahl27/whitespace) |
| goto.ws                                  | Trevor Bennett   | -        | 2018-09-07 | 0.2 | [GitHub](https://github.com/trevorbennett/whitespace-stack-flood), [r/ProgrammerHumor](https://www.reddit.com/r/ProgrammerHumor/comments/9dvwhn/java_java/e5kg126/) |
| helloWhitespace.ws                       | Heo Kyungyoung   | -        | 2018-08-09 | 0.2 | [GitHub](https://github.com/bbvch13531/HelloWhitespace) |
| Did you see anything?                    | Daniel Chen      | -        | 2017-02-23 | 0.2 | [GitHub](https://github.com/ccns/105-club-fair-game-problems/blob/master/2/2/Did%20you%20see%20anything%3F) |
| fichero.bin                              | Zuleimi Esteffanny González Muñoz | - | 2016-10-27 | 0.2 | [GitHub](https://github.com/EIA-University/WhiteSpaceInterpreter/blob/master/src/fichero.bin) |
| EsoPoly                                  | Ivan Zolotarev   | Malbolge, Brainfuck, Spoon, asdf, 123, EXCON | 2016-09-13 | 0.2 | [GitHub](https://github.com/kenrube/Esopoly) |
| Hello World                              | Petri Heikkonen  | -        | before 2016-08-20 | 0.2 | [Hello World Collection](http://helloworldcollection.de/#Whitespace), [GitLab](https://gitlab.com/wolframroesler/helloworld/-/blob/master/files/Whitespace.txt) |
| VirtualDust.txt                          | Raphaël Bois     | C, Brainfuck, Perl | before 2016-08-20 | 0.2 | [Hello World Collection](http://helloworldcollection.de/hellopics/VirtualDust.txt), [GitLab](https://gitlab.com/wolframroesler/helloworld/-/blob/master/hellopics/VirtualDust.txt) |
| hello.go<br>index.html<br>figlet.js      | Chris Nguyen     | Go, HTML, JavaScript | 2016-06-26 | 0.2 | [GitHub](https://github.com/uncompiled/steganographic-polyglots) |
| yokoyama.ws                              | Kengo Yokoyama   | -        | 2015-01-29 | 0.2 | [GitHub](https://github.com/ait8/fizzbuzz/blob/master/yokoyama.ws) |
| 1to10.ws<br>helloworld_cn.ws             | Azige            | -        | 2014-07-29 | 0.2 | [GitHub](https://github.com/azige/whitespace-interpreter/tree/master/src/main/pack/example) |
| e36.ws                                   | Sam Donow        | -        | 2013-09-03 | 0.3 | [GitHub](https://github.com/drsam94/PELC/blob/master/e36.ws), [pelangchallenge](http://pelangchallenge.blogspot.com/2013/09/problem-36-done-in-whitespace.html), [Mailing list (archive)](https://web.archive.org/web/20141011193202/http://compsoc.dur.ac.uk/archives/whitespace/2013-September/000084.html) |
| c.ws<br>collatz.wsa<br>hmacro.wsa<br>nerd.ws<br>nerd.wsa<br>lib/alias.wsa<br>lib/math.wsa<br>lib/rot13.wsa<br>lib/std.wsa<br>lib/string.wsa | Henri Lakk | - | 2013-03-30 | 0.3  | [GitHub](https://github.com/vii5ard/whitespace/tree/master/example) |
| bf.ws<br>bf.wsa                          | Henri Lakk       | -        | 2013-03-30 | 0.3 | [GitHub](https://github.com/vii5ard/whitespace/tree/master/example), [GitHub](https://github.com/vii5ard/brainfuck-whitespace) |
| sudoku.ws                                | Huf Lungdung     | -        | 2009-05-19 | 0.3 | [What the Daily WTF?](https://what.thedailywtf.com/topic/5980/stupid-coding-tricks-sudoku-solver-in-whitespace), [Mailing list (archive)](https://web.archive.org/web/20141011193156/http://compsoc.dur.ac.uk/archives/whitespace/2009-November/000072.html), [Pastebin (archive)](https://web.archive.org/web/20100807004910/http://whitespace.pastebin.com/f761fc4b5) |
| [tetris.ws](whitespace/pdewacht-tetris)  | Peter De Wachter | -        | 2008-01-02 | 0.2 | [Mailing list (archive)](https://web.archive.org/web/20141011193149/http://compsoc.dur.ac.uk/archives/whitespace/2008-January/000067.html), [r/programming](https://www.reddit.com/r/programming/comments/9nw1e/most_unreadable_programming_language_ever/c0dkzzw/), [GitHub](https://github.com/wspace-lang/pdewacht-tetris) |
| 99 Bottles of Beer                       | Andrew Kemp      | -        | 2005-04-20 | 0.2 | [99-bottles-of-beer.net](https://99-bottles-of-beer.net/language-whitespace-154.html) |
| chr.ws<br>ord.ws                         | Phillip Bradbury | -        | 2004-08-03 | 0.2 | See pywhitespace |
| loctest.ws                               | Edwin Brady      | -        | 2003       | 0.3 | [CompSoc (archive)][compsoc] |
| tutorial.html                            | Edwin Brady      | HTML     | 2003       | 0.2 | [CompSoc (archive)][compsoc] |
| calc.ws<br>count.ws<br>fact.ws<br>hanoi.ws<br>hworld.ws<br>name.ws | Edwin Brady | - | 2003 | 0.2 | [CompSoc (archive)][compsoc] |

## Reference interpreter mirrors and forks

| Name               | Maintainer       | Date       | Spec | Source |
| ------------------ | ---------------- | ---------- | ---- | ------ |
| WSpace             | Kamil Adam       | 2019-11-24 | 0.3  | [GitHub](https://github.com/helvm/WSpace) |
| whitespace-haskell | Andrew Archibald | 2019-08-07 | 0.2, 0.3 | [GitHub](https://github.com/wspace-lang/whitespace-haskell) |
| WSpace             | Andrew Savinykh  | 2017-01-30 | 0.3  | [GitHub](https://github.com/TryItOnline/WSpace) |
| whitespace-0.4     | Harold Lee       | 2011-03-10 | 0.3 with shuffle | [GitHub](https://github.com/haroldl/whitespace-nd), [Mailing list (archive)](https://web.archive.org/web/20141011193201/http://compsoc.dur.ac.uk/archives/whitespace/2011-March/000080.html), [hotelling.net](https://harold.hotelling.net/shuffle.html), [Hackage](https://hackage.haskell.org/package/whitespace-0.4) |

[compsoc]: https://web.archive.org/web/20150717140342/http://compsoc.dur.ac.uk:80/whitespace/download.php

## Usage

Projects with source hosted on GitHub or GitLab are included as
submodules. Projects from other locations are reconstructed as git
repositories.

To clone all submodules, run:

```sh
git submodule update --init
```

To update all submodules to latest remote head, run:

```sh
git submodule update --remote
```

## Contributing

Do you know of any Whitespace projects that are not listed? If so,
[file an issue](https://github.com/wspace-lang/ws-corpus/issues) and
I'll make sure to add it.

I also am seeking a copy of the HaPyLi language source as the HaPyLi
website is now defunct and the compiler and example programs were not
archived.

## Dependencies

- [Go](https://golang.org/)
- [jq](https://stedolan.github.io/jq/) for JSON filtering
- [underscore-cli](https://github.com/ddopson/underscore-cli) for JSON
  formatting: `npm install -g underscore-cli`
- [moreutils](https://joeyh.name/code/moreutils/) for sponge

### Project dependencies

- C++: make, cmake, LLVM lib
- Clojure: Java, [Leiningen](https://leiningen.org/)
- Go: Go
- LOLCODE: [lci (future branch)](https://github.com/justinmeza/lci/tree/future)

  ```sh
  git clone -b future https://github.com/justinmeza/lci
  cd lci
  python install.py
  ```

## License

This collection is licensed under the [MIT License](LICENSE.md) by
Andrew Archibald. Submodules are licensed by their respective owners.
